body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 1.5;
    background: #4a86e8ff !important; 
}
*,
::after,
::before {
	box-sizing: border-box
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: .5rem
}
.mt-3,
.my-3 {
	margin-top: 1rem!important
}
.mr-3,
.mx-3 {
	margin-right: 1rem!important
}
.ml-3,
.mx-3 {
	margin-left: 1rem!important
}
.text-center {
	text-align: center!important
}
.text-light {
	color: #f8f9fa!important
}
.bg-dark {
	background-color: #343a40!important
}
h6 {
	font-size: 1rem
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 24px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li:hover {
    background: #ddd;
}
ul li.checked {
    background: #32a852;
    color: #fff;
    text-decoration: line-through;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 20px;
    left: 20px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.close {
	font-weight: 700;
	line-height: 1;
    position: absolute;
    right: 0;
    color: black;
    top: 0;
    padding: 17.5px 14px 18.5px 16px;
}
.close:hover {
    background-color: #f44336;
    color: white;
}
.header:after {
    content: "";
    display: table;
    clear: both;
}
select {
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: white;
    height: 50px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.add-item-button {
    padding: 10px;
    width: 25%;
    height: 50px;
    padding-top: 15px;
    background: #32a852;
    color: #555;
    float: left;
    text-align: center;
    font-size: 15.5px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.add-item-button:hover {
    background-color: #ddd;
}
.up-arrow {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 6px;
}
.down-arrow {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    bottom: 6px;
}
.arrow {
    width: 20px;
    position: absolute;
    left: 0px;
}